<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    
</head>
<body style="background-color: #15253f">
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
