@model MVC_Asset.Models.UserLogins
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<body>
    <form >

        
        <h2>Login SuccessFull as: </h2> @ViewBag.User
        <br /><br />
        <div align="left">
            <button ><a class href="Logout">Logout</a></button>
        </div>
    </form>
    @*<button type="button" asp-controller="">Logout</button>*@
</body>
